<div class="container mt-150">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 upcase" align="center">
      <h4 class="title-700">puoksčių užsakymas internetu </h4>
      <hr>
    </div>
  </div>
  <div class="row">
    <%= form_for @customer, url: puokstes_path(@customer), html: { method: :post } do |a| %>
      <h3>Jūsų el. paštas *<h3>
      <%= a.text_field :email %><br />
      
      <%= fields_for @bunch do |f| %>
        <h3>Suma *</h3>
        <%= f.select :price, options_for_select([['11€', 1], ['16€', 2], ['22€', 3], ['29€', 4], ['45€', 5], ["55€",6], ["70€", 7], ["100€",7]], selected: :option ) %>
        </br>
        <h3>Spalvos puokštėje</h3>
        <p>Pasirinkite vieną ar kelias dominuojančias spalvas</p>
        <div class="field">
          <%= check_box_tag 'bunch[color][]', 'Violetinė' %>
          <%= f.label "Violetinė" %>
        </div>
        <div class="field">
          <%= check_box_tag 'bunch[color][]', 'Geltona' %>
          <%= f.label "Geltona" %>
        </div>
        <div class="field">
          <%= check_box_tag 'bunch[color][]', 'Žalia' %>
          <%= f.label "Žalia" %>
        </div>
        <div class="field">
          <%= check_box_tag 'bunch[color][]', 'Balta' %>
          <%= f.label "Balta" %>
        </div>
        <div class="field">
          <%= check_box_tag 'bunch[color][]', 'Švelni rožinė' %>
          <%= f.label "Švelni rožinė" %>
        </div>

        <h3>Puokštė *</h3>
        <div class="field">
          <%= f.check_box :gender_for, as: :boolean %>
          <%= f.label "Vyras" %>
        </div>
        <div class="field">
          <%= f.check_box :gender_for, as: :boolean %>
          <%= f.label "Moteris" %>
        </div>
      <% end %>

      <%= fields_for @order do |f| %>
        <%= f.select :from, [ 'Su pristatymu','Pasiimsiu iš salono 7-1','Pasiimsiu is nezinia kur' ] %>

        <h3>Pristatymo informacija</h3>
        <p>Tikslus pristatymo adresas, gavėjo vardas.</p>
        <%= f.text_area :address %>
        <h3>Telefonas susisiekimui *</h3>
        <%= f.text_area :receiver_number %>
        <h3>Gavejo vardas *</h3>
        <%= f.text_area :receiver_name %>
        <h3>Data ir laikas *</h3>
        <%= f.text_area :order_delivery_date %>
        <h3>Pastabos</h3>
        <p>Papildomi pageidavimai floristui</p>
        <%= f.text_area :comment %>
      <% end %>
      <%= a.submit %>
    <% end %> 
  </div>
</div>

<style>
  .upcase {
    text-transform: uppercase;
  }

  .title-700 {
    font-weight: 700;
  }
</style>

<script type="text/javascript">

  $("#gender-selector input:checkbox").on('click', function() {
    var $box = $(this);
    if ($box.is(":checked")) {
      var group = "input:checkbox[name='" + $box.attr("name") + "']";
      $(group).prop("checked", false);
      $box.prop("checked", true);
    } else {
      $box.prop("checked", false);
    }
  });

</script>

<script type="text/javascript">
  jQuery ->
  $(".button_submit").live "click", (e) ->
    e.preventDefault()
    $("#form-1").trigger "submit"
    $("#form-2").trigger "submit"
    $("#form-3").trigger "submit"
    $("#form-4").trigger "submit"
</script>