<div class="container mt-150">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 upcase" align="center">
      <h4 class="title-700">puoksčių užsakymas internetu </h4>
      <hr>
    </div>
  </div>
  <div class="row">
    <%= form_for :customer do |a| %>
      <h3>Jūsų el. paštas *<h3>
      <%= a.text_field :email %><br />
    <% end %> 
  </div>
  <div class="row">
    <h3>Suma *</h3>
    <%= select_tag(:option, options_for_select([['11€', 1], ['16€', 2], ['22€', 3], ['29€', 4], ['45€', 5], ["55€",6], ["70€", 7], ["100€",7]], selected: :option )) %>
  </div>
  <div class="row">
    <h3>Puokštė *</h3>
    <%= form_for :bunch do |f| %>
    <div class="field">
      <%= f.check_box :gender_for, as: :boolean %>
      <%= f.label "Vyras" %>
    </div>
    <div class="field">
      <%= f.check_box :gender_for, as: :boolean %>
      <%= f.label "Moteris" %>
    </div>
    <% end %>
  </div>

  <div class="row">
    <h3>Spalvos puokštėje</h3>
    <p>Pasirinkite vieną ar kelias dominuojančias spalvas</p>
    
    <%= form_for create_path do |f| %>
      <%= f.label 'Spalvos puokštėje' %>
      <div class="field">
        <%= check_box_tag 'bunch[color][]', 'Violetinė' %>
        <%= f.label "Violetinė" %>
      </div>
      <div class="field">
        <%= check_box_tag 'bunch[color][]', 'Geltona' %>
        <%= f.label "Geltona" %>
      </div>
      <div class="field">
        <%= check_box_tag 'bunch[color][]', 'Žalia' %>
        <%= f.label "Žalia" %>
      </div>
      <div class="field">
        <%= check_box_tag 'bunch[color][]', 'Balta' %>
        <%= f.label "Balta" %>
      </div>
      <div class="field">
        <%= check_box_tag 'bunch[color][]', 'Švelni rožinė' %>
        <%= f.label "Švelni rožinė" %>
      </div>
      <div><%= f.submit %></div>
    <% end %>
  </div>

  <div class="row">
    <h3>Puokštė *</h3>
    <%= form_for :order do |f| %>
       <%= f.select :from, [ 'Su pristatymu','Pasiimsiu iš salono 7-1','Pasiimsiu is nezinia kur' ] %>
    <% end %>
  </div>
</div>

<style>
  .upcase {
    text-transform: uppercase;
  }

  .title-700 {
    font-weight: 700;
  }
</style>