<style> #header { display: none } </style>
<nav class="navbar navbar-default welcome-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= image_tag("white.png") %>
    </div>
    <ul class="nav navbar-nav mt-25 nav-text">
      <li class="<%= active_class(pradinis_path) %>"><a href="#">pradinis</a></li>
      <li class="<%= active_class(root_path) %>"><%= link_to 'apie mus', root_path %>
      <li class="<%= active_class(root_path) %>"><a href="#">puokštės</a></li>
      <li class="<%= active_class(root_path) %>"><a href="#">vazonai ir baldai laukui</a></li>
      <li class="<%= active_class(root_path) %>"><a href="#">įmonėms</a></li>
      <li class="<%= active_class(root_path) %>"><a href="#">kontaktai</a></li>
    </ul>
    <div class="nav-socials"><%= render 'layouts/socials' %></div>
  </div>
</nav>


